<div class="container">
  <div>
    <h1 class="mainheading">Find an Event</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Run a search below to find an event near you</p>
    <form (ngSubmit)="onSubmit()" #eventdetailForm="ngForm">
      <div class="form-group">
        <label for="name">Search</label>
        <input type="text" class="form-control" id="name"

               [(ngModel)]="filterText" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Search term is required
        </div>
      </div>

      <div class="form-group">
        <label for="district">District</label>
        <select class="form-control width25" id="district"
                [(ngModel)]="filterDist" name="district"
                #district="ngModel">
          <option value=""> -- Leave Empty --</option>
          <option *ngFor="let datum of data | unique: 'district'" [value]="datum.district">{{datum.district}}</option>
        </select>
        <div [hidden]="district.valid || district.pristine" class="alert alert-danger">
          District is required
        </div>
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control width25" id="date"
               [(ngModel)]="filterDate" name="date">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!eventdetailForm.form.valid">Submit</button>

    </form>
  </div>


  <hr class="separator"/>
  <div [hidden]="!submitted">
    <div *ngIf="filteredData.length == 0">
      <p>No Result found</p>
    </div>
    <ul>
      <li *ngFor="let datum of filteredData">
<div class="row">
  <div class="col-lg-2 col-xs-3"> <strong>Organization:</strong></div>
  <div class="col-lg-2 col-xs-9"> {{ datum.organisation }}</div>
  <div class="col-lg-2 col-xs-3"><strong>Event:</strong></div>
  <div class="col-lg-2 col-xs-9">{{ datum.event }}</div>
  <div class="col-lg-2 col-xs-3"><strong>Date:</strong></div>
  <div class="col-lg-2 col-xs-9">{{ datum.date }}</div>
</div>

        <div class="row">
          <div class="col-lg-2 col-xs-3"><strong>Location:</strong></div>
          <div class="col-lg-2 col-xs-9">{{ datum.location }}</div>
          <div class="col-lg-2 col-xs-3"><strong>District:</strong></div>
          <div class="col-lg-2 col-xs-9"> {{ datum.district }}</div>
          <div class="col-lg-2 col-xs-3"></div>
          <div class="col-lg-2 col-xs-9"></div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-xs-3"><strong>Type: </strong></div>
          <div class="col-lg-2 col-xs-9">{{datum.type}}</div>
          <div class="col-lg-2 col-xs-3"></div>
          <div class="col-lg-2 col-xs-9"></div>
          <div class="col-lg-2 col-xs-3"></div>
          <div class="col-lg-2 col-xs-9"></div>
        </div>
        <hr class="separator"/>
      </li>

    </ul>
    <br>

  </div>
</div>
